<img src="/images/centerspin.png" id="center">
<img src="/images/spinner.png" id="spinner">
<a href="#" class="btn btn-default" id="get_question"> Get Questions </a>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        $("#center").rotate({
            bind: {
                click: function () {
                    $("#spinner").rotate({angle: 0, animateTo:<%= $rotations %>, easing: $.easing.easeInOutExpo})
                    $(function () {
                        $('#get_question').attr('disabled', false);
                    });
                }
            }
        });
        $(function () {
            $('#get_question').attr('disabled', true);
        });
        $(function () {
            $('#get_question').click(function (event) {
                event.preventDefault();
                $('#spinner_image').toggle();
                $('#question').toggle();
            });
        });
    });
</script>