<h1>Welcome to Trippin' On Trivia</h1>
<a href="#" class="btn btn-default" id="new_game"> + New Game </a>
<br/><br/>
<script>
    $(function() {
        $('#new_game').click(function(event){
            event.preventDefault();
            $('#welcome').toggle();
            $('#spinner_image').toggle();
        });
    });
</script>