<h1>Spin the Wheel!</h1>
<img src= "/images/centerspin.png" id="center">
<img src= "/images/spinner.png" id="spinner">
<button onclick="changePage()" id="questions" type="questions" class="btn btn-primary btn-lg btn-block">Get Question</button>

<script type ="text/javascript" charset="utf-8">
jQuery(document).ready(function()
{
$("#center").rotate({
bind:
{
click: function(){
$("#spinner").rotate({ angle:0,animateTo:<%= $rotations %>,easing: $.easing.easeInOutExpo })
    $(function(){
        $('#questions').attr('disabled',false);
    });
}
}
});
    $(function(){
        $('#questions').attr('disabled',true);
    });
});

function changePage() {
    window.location.href="/game/start.html"
}
</script>