<h1>After clicking the play button, you should be brought here.</h1>
<p>Find me in app/views/game/start.html.erb</p>
<ol>
  <li>Select a random category</li>
  <li>Select a random question from the specified category</li>
  <li>Display the question along with the answers associate with it.</li>
  <li>Wait for user to select an answer</li>
  <li>Check if the answer is correct</li>
  <li>If true, alert the player the question is correct repeat the above steps.</li>
  <li>If false, pass the question on to the next player (get to this part in next milestone)</li>
</ol>
<h2><%= @random_category.title %></h2>

