<button style="background-color: #2541c3" onclick="GoBack()" type="button" class="btn btn-primary">
  BACK</button><br>


<script>
    function GoBack()
    {
        $('body').load('play/index');
    }
</script>
