<button onclick="GoBack()" type="button" class="btn btn-primary">
  BACK</button>
<div id="main" class="text-center">
  <% if current_user.active_player.challenges.first.bid_trophy.nil? %>
      <h1>Pick a trophy to bid</h1>
      <% trophies = current_user.active_player.trophies
   else %>
      <h1>Pick a trophy to steal</h1>
      <% if !current_user.active_player.opponent.nil?
       trophies = current_user.active_player.opponent.trophies
           else
      trophies = {}
       end
   end

       trophies.each do |trophy|
       if !current_user.active_player.challenges.first.bid_trophy.nil?
           contains = false
          current_user.active_player.trophies.each do |player_trophy|
           if player_trophy === trophy
                   contains = true
               end
               end
           if contains
               next
          end
       end %>

      <div id="trophy">
        <input id=<%= trophy.category.title.gsub(/\s+/, '') %> type="image" value=<%=trophy.id%> src=<%= trophy.icon_path%> >
      </div>
      <script type ="text/javascript" charset="utf-8">
          $(document).ready(function() {
              $(<%= trophy.category.title.gsub(/\s+/, '') %>).click(function() {
                  var currentTrophy = this.value;
                  $.ajax({
                              url: "play/get_trophy_category",
                              type: 'PUT',
                              dataType: 'json',
                              data: {'trophy_id' : currentTrophy}
                          }
                  )
                  setTimeout(ChangePage, 500);
              })
          });
      </script>
  <% end %>
</div>

<script>
    function ChangePage() {
        <% if current_user.active_player.challenges.first.bid_trophy.nil? %>
        $('body').load('/play/display_challenge_trophy_selection.html');
        <% else %>
        $('body').load('/play/display_questions.html');
        <% end %>

    }

    function GoBack()
    {
        $.ajax({
            url: "play/end_current_challenge",
            type: 'PUT'
        });
        setTimeout($('body').load('/play/display_full_meter_choice'), 500);
    }

</script>