<div class="text-center">
  <h1>Go for a trophy or challenge your opponent?</h1><br><br>
  <div id="meter">
  <button style="background-color: #2541c3"onclick="ChangePageTrophy()" type="button" class="btn btn-danger">
    Go For Trophy!</button>
    <% if !current_user.active_player.opponent.nil? %>
  <button style="background-color: #2541c3"onclick="ChangePageChallenge()" type="button" class="btn btn-danger">
    Challenge!</button>
        <% end %>
  </div>
</div>
  <script>
    function ChangePageTrophy() {
        $.ajax({
            url: "play/end_current_challenge",
            type: 'PUT'
        });
        $('body').load('/play/display_trophy_select.html');

    }

  function ChangePageChallenge() {
      setTimeout($('body').load('/play/display_challenge_trophy_selection.html'), 200);
  }

</script>