<div class="text-center">
  <h1>Go for a trophy or challenge your opponent?</h1><br><br>
  <div id="meter">
  <button onclick="ChangePageTrophy()" type="button" class="btn btn-primary">
    Go For Trophy!</button>
  <button onclick="ChangePageChallenge()" type="button" class="btn btn-primary">
    Challenge!</button>
  </div>
</div>
  <script>
    function ChangePageTrophy() {
        $('body').load('/play/display_trophy_select.html');

    }

  function ChangePageChallenge() {
      $.ajax({
          url: "play/make_new_challenge",
          type: 'PUT'
      });
      setTimeout($('body').load('/play/display_challenge_trophy_selection.html'), 200);
  }

</script>