<h1>Spin the Wheel!</h1>
<img src= "/images/centerspin.png" id="center">
<img src= "/images/spinner.png" id="spinner">
<%= button_to "Play Trippin On Trivia" , action: :display_spinner,class: "btn btn-inverse", remote: true%>