<div id="main" class="text-center">
<h1>Welcome to Trippin' On Trivia</h1>
<%= link_to "Play Trippin On Trivia" , action: :display_spinner,class: "btn btn-inverse", remote: true%>
  <br/>  <br/>

</div>