<div id="main" class="text-center">
  <button onclick="ChangePage()" type="button" class="btn btn-primary btn-lg btn-block">
    + NEW GAME</button>
  <br/>  <br/>
</div>

<script>
    function ChangePage()
    {
        $('body').load('play/display_new_game_page.html');
    }
</script>