<div id="main" class="text-center">
  <button onclick="ChangePage()" type="button" class="btn btn-primary btn-lg btn-block">
    + New Game</button>
  <br/>  <br/>
</div>
<script>
    function ChangePage()
    {
        $('body').load('play/display_spinner.html');
    }
</script>