@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 100px;

}

.container{
  width: 550px;
}

.links {
  font-size: medium;
  color:Blue !important;
}

#main {
  padding-top: 10px;
}

input#un-mute {
  display: none;
}

.unmute i {
  display: none;
}

input#un-mute:checked ~ .unmute i {
  display: initial;
}

input#un-mute:checked ~ .mute i {
  display: none;
}
