// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}
#spinner {
	height: 368px;
	width: 368px;
	z-index: -1;
	position: relative;
	top: 25px;
	left: -45px;
}
#center {
	z-index: 1;
	position: relative;
	top: 25px;
	left: 196px;
}

#questions {
  position: relative;
  top: -50px;
  left: 0px;
}

#trophy {
  margin: auto;
  display: inline;
  white-space: nowrap;
}

#bolt {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  display: inline;
  white-space: nowrap;
}
