// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Arcade-Classic';
  src: font-url('ArcadeClassic.ttf');
  src: font-url('ArcadeClassic.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'karmatic';
  src: font-url('ka1.ttf');
  src: font-url('ka1.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'karmatic';
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: 'karmatic';
}

h3 {
  font-family: "Arcade-Classic";
}

h4 {
  font-family: "karmatic";
}

h5 {
  font-family: "Arcade-Classic";
}

h6 {
  font-family: "Arcade-Classic";
}

#profile {
  padding: 50px;
}

#meter {
  margin: 0 auto;
}

#spinner {
	height: 368px;
	width: 368px;
	z-index: -1;
	position: relative;
	top: 25px;
	left: -45px;
}
#center {
	z-index: 1;
	position: relative;
	top: 25px;
	left: 196px;
}

#questions {
  position: relative;
  top: -50px;
  left: 0px;
}

#trophy {
  margin: auto;
  display: inline;
  white-space: nowrap;
}

#bolt {
  padding-left: 150px;
  padding-top: 35px;
  white-space: nowrap;
}
